* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 1.1em;
}

#statusIndicator {
    width: 60px;
    height: 40px;
    border: 1px solid #ffffff;
}

.rigthAnswer {
    animation-name: rigthAnswer;
    animation-duration: 0.5s;
}

@keyframes rigthAnswer {
    0% {
        background: none;
    }

    50% {
        background-color: green;
    }

    100% {
        background: none;
    }
}

.wrongAnswer {
    animation-name: wrongAnswer;
    animation-duration: 0.5s;
}

@keyframes wrongAnswer {
    0% {
        background: none;
    }

    50% {
        background-color: red;
    }

    100% {
        background: none;
    }
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);

    .top-row {
        border-bottom: 2px solid #ffffff;
        font-size: 0.85em;
    }

    .row {
        display: flex;
        flex-direction: row;
        margin: 10px 0;
        width: 300px;
        justify-content: space-evenly;
    }

    .results {
        font-size: 0.85em;
    }

    button:hover {
        background-color: rgb(63, 135, 177) !important;
    }

    button:active {
        background-color: rgb(35, 75, 99) !important;
    }

    .playAgain {
        padding: 10px 0;
        width: 100px;
        background-color: rgba(0, 0, 0, 0);
        border: 2px solid #ffffff;
    }

    .answers {
        button {
            background-color: rgba(0, 0, 0, 0);
            width: 2em;
            height: 50px;
            margin: 3px;
            border: 2px solid #ffffff;
        }
    }


}